<% if session[:player_pot] == 0 %>
  <h3> You're broke! Go borrow some money to play again. </h3>
<% end %>

<h3> Thanks for playing Blackjack! </h3>

<br/>

<a href='/username' class='btn btn-success'>Start Over?</a>