<h1> Welcome to Blackjack </h1>
<p>
  Hello <%="#{session[:username].capitalize}!" %>
</p>

Dealer's Cards:
  <ul>
    <% session[:dealer_cards].each do |card| %>
       <li> <%= card.to_s %> </li>
    <% end %>
  </ul>

</br>

Player's Cards:
  <ul>
    <% session[:player_cards].each do |card| %>
       <li> <%= card.to_s %> </li>
    <% end %>
  </ul>
