<% if session[:player_pot] == 0 %>
  <h3> You're broke! Go borrow some money to play again. </h3>
<% end %>

<h3> Thanks for playing Blackjack! </h3>

<br/>

<a href='/username' class='btn btn-success'>Start Over?</a>

<script> document.getElementById('player_pot_sidebar').innerHTML ='Player Pot: <%= session[:player_pot] %>'; </script>

<script> document.getElementById('player_pot_sidebar').innerHTML ='Player Pot: <%= session[:player_pot] %>'; </script>

<script> document.getElementById('games_won_sidebar').innerHTML ='Games Won: <%= session[:games_won] %>'; </script>

<script> document.getElementById('games_lost_sidebar').innerHTML ='Games Lost: <%= session[:games_lost] %>'; </script>