<h3><%= "Hello #{session[:username].capitalize}!
<br/>
Welcome to Blackjack." %></h3>
<br/>
<form class="form-search" action="game" method="get">
  <button type="submit" class="btn">Start the game !</button>
</form>