<h4> Enter your name to get started...</h3> 
<form class="form-search" action="username" method="post">
  <input type="text" class="input-medium search-query" name="username">
  <button type="submit" class="btn">Let's Begin!</button>
</form>